git+https://github.com/KrishnaswamyLab/harmonic-alignment#subdirectory=python
annoy
fa2
magic-impute
MulticoreTSNE
phate
pyensembl
pybedtools
git+https://github.com/czbiohub/molecular-cross-validation
